body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:320px;
}
#u7224 {
  position:absolute;
  left:0px;
  top:60px;
  width:573px;
  height:319px;
}
#u7225 {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  white-space:nowrap;
}
#u7228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u7228 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u7229 {
  position:absolute;
  left:20px;
  top:8px;
  width:1178px;
  word-wrap:break-word;
}
#u7230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u7230 {
  position:absolute;
  left:1090px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u7230_img.mouseOver {
}
#u7230.mouseOver {
}
#u7230_img.mouseDown {
}
#u7230.mouseDown {
}
#u7231 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u7232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u7232 {
  position:absolute;
  left:760px;
  top:0px;
  width:110px;
  height:40px;
}
#u7232_img.mouseOver {
}
#u7232.mouseOver {
}
#u7232_img.mouseDown {
}
#u7232.mouseDown {
}
#u7233 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u7234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u7234 {
  position:absolute;
  left:980px;
  top:0px;
  width:110px;
  height:40px;
}
#u7234_img.mouseOver {
}
#u7234.mouseOver {
}
#u7234_img.mouseDown {
}
#u7234.mouseDown {
}
#u7235 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u7236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u7236 {
  position:absolute;
  left:870px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u7236_img.mouseOver {
}
#u7236.mouseOver {
}
#u7236_img.mouseDown {
}
#u7236.mouseDown {
}
#u7237 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u7238 {
  position:fixed;
  right:10px;
  top:0px;
  visibility:hidden;
}
#u7238_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7238_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7239 {
  position:absolute;
  left:0px;
  top:90px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u7239_img.mouseOver {
}
#u7239.mouseOver {
}
#u7240 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u7241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7241 {
  position:absolute;
  left:0px;
  top:180px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u7241_img.mouseOver {
}
#u7241.mouseOver {
}
#u7242 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u7243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7243 {
  position:absolute;
  left:0px;
  top:270px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u7243_img.mouseOver {
}
#u7243.mouseOver {
}
#u7244 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u7245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7245 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u7245_img.mouseOver {
}
#u7245.mouseOver {
}
#u7246 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
