body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:277px;
}
#u7866 {
  position:absolute;
  left:0px;
  top:60px;
  width:391px;
  height:276px;
}
#u7867 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  white-space:nowrap;
}
#u7870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u7870 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u7871 {
  position:absolute;
  left:20px;
  top:8px;
  width:1178px;
  word-wrap:break-word;
}
#u7872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u7872 {
  position:absolute;
  left:1090px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u7872_img.mouseOver {
}
#u7872.mouseOver {
}
#u7872_img.mouseDown {
}
#u7872.mouseDown {
}
#u7873 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u7874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u7874 {
  position:absolute;
  left:760px;
  top:0px;
  width:110px;
  height:40px;
}
#u7874_img.mouseOver {
}
#u7874.mouseOver {
}
#u7874_img.mouseDown {
}
#u7874.mouseDown {
}
#u7875 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u7876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u7876 {
  position:absolute;
  left:980px;
  top:0px;
  width:110px;
  height:40px;
}
#u7876_img.mouseOver {
}
#u7876.mouseOver {
}
#u7876_img.mouseDown {
}
#u7876.mouseDown {
}
#u7877 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u7878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u7878 {
  position:absolute;
  left:870px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u7878_img.mouseOver {
}
#u7878.mouseOver {
}
#u7878_img.mouseDown {
}
#u7878.mouseDown {
}
#u7879 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u7880 {
  position:fixed;
  right:10px;
  top:0px;
  visibility:hidden;
}
#u7880_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7880_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7881 {
  position:absolute;
  left:0px;
  top:90px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u7881_img.mouseOver {
}
#u7881.mouseOver {
}
#u7882 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u7883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7883 {
  position:absolute;
  left:0px;
  top:180px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u7883_img.mouseOver {
}
#u7883.mouseOver {
}
#u7884 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u7885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7885 {
  position:absolute;
  left:0px;
  top:270px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u7885_img.mouseOver {
}
#u7885.mouseOver {
}
#u7886 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u7887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7887 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u7887_img.mouseOver {
}
#u7887.mouseOver {
}
#u7888 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
