body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:364px;
}
#u2045 {
  position:absolute;
  left:0px;
  top:60px;
  width:451px;
  height:363px;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  white-space:nowrap;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:57px;
}
#u2048 {
  position:absolute;
  left:984px;
  top:60px;
  width:216px;
  height:56px;
}
#u2049 {
  position:absolute;
  left:10px;
  top:10px;
  width:196px;
  white-space:nowrap;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u2052 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2053 {
  position:absolute;
  left:20px;
  top:8px;
  width:1178px;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u2054 {
  position:absolute;
  left:1090px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u2054_img.mouseOver {
}
#u2054.mouseOver {
}
#u2054_img.mouseDown {
}
#u2054.mouseDown {
}
#u2055 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u2056 {
  position:absolute;
  left:760px;
  top:0px;
  width:110px;
  height:40px;
}
#u2056_img.mouseOver {
}
#u2056.mouseOver {
}
#u2056_img.mouseDown {
}
#u2056.mouseDown {
}
#u2057 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u2058 {
  position:absolute;
  left:980px;
  top:0px;
  width:110px;
  height:40px;
}
#u2058_img.mouseOver {
}
#u2058.mouseOver {
}
#u2058_img.mouseDown {
}
#u2058.mouseDown {
}
#u2059 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u2060 {
  position:absolute;
  left:870px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u2060_img.mouseOver {
}
#u2060.mouseOver {
}
#u2060_img.mouseDown {
}
#u2060.mouseDown {
}
#u2061 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u2062 {
  position:fixed;
  right:10px;
  top:0px;
  visibility:hidden;
}
#u2062_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2062_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2063 {
  position:absolute;
  left:0px;
  top:90px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2063_img.mouseOver {
}
#u2063.mouseOver {
}
#u2064 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2065 {
  position:absolute;
  left:0px;
  top:180px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2065_img.mouseOver {
}
#u2065.mouseOver {
}
#u2066 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2067 {
  position:absolute;
  left:0px;
  top:270px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2067_img.mouseOver {
}
#u2067.mouseOver {
}
#u2068 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u2069_img.mouseOver {
}
#u2069.mouseOver {
}
#u2070 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
