body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:549px;
}
#u2071 {
  position:absolute;
  left:0px;
  top:60px;
  width:591px;
  height:548px;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:57px;
}
#u2075 {
  position:absolute;
  left:984px;
  top:60px;
  width:216px;
  height:56px;
}
#u2076 {
  position:absolute;
  left:10px;
  top:10px;
  width:196px;
  white-space:nowrap;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2080 {
  position:absolute;
  left:20px;
  top:8px;
  width:1178px;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u2081 {
  position:absolute;
  left:1090px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u2081_img.mouseOver {
}
#u2081.mouseOver {
}
#u2081_img.mouseDown {
}
#u2081.mouseDown {
}
#u2082 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u2083 {
  position:absolute;
  left:760px;
  top:0px;
  width:110px;
  height:40px;
}
#u2083_img.mouseOver {
}
#u2083.mouseOver {
}
#u2083_img.mouseDown {
}
#u2083.mouseDown {
}
#u2084 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u2085 {
  position:absolute;
  left:980px;
  top:0px;
  width:110px;
  height:40px;
}
#u2085_img.mouseOver {
}
#u2085.mouseOver {
}
#u2085_img.mouseDown {
}
#u2085.mouseDown {
}
#u2086 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u2087 {
  position:absolute;
  left:870px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u2087_img.mouseOver {
}
#u2087.mouseOver {
}
#u2087_img.mouseDown {
}
#u2087.mouseDown {
}
#u2088 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u2089 {
  position:fixed;
  right:10px;
  top:0px;
  visibility:hidden;
}
#u2089_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2089_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2090 {
  position:absolute;
  left:0px;
  top:90px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2090_img.mouseOver {
}
#u2090.mouseOver {
}
#u2091 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2092 {
  position:absolute;
  left:0px;
  top:180px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2092_img.mouseOver {
}
#u2092.mouseOver {
}
#u2093 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2094 {
  position:absolute;
  left:0px;
  top:270px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2094_img.mouseOver {
}
#u2094.mouseOver {
}
#u2095 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u2096_img.mouseOver {
}
#u2096.mouseOver {
}
#u2097 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
