body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:211px;
}
#u4485 {
  position:absolute;
  left:0px;
  top:60px;
  width:1200px;
  height:210px;
}
#u4486 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  word-wrap:break-word;
}
#u4488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u4488 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u4489 {
  position:absolute;
  left:20px;
  top:8px;
  width:1178px;
  word-wrap:break-word;
}
#u4490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u4490 {
  position:absolute;
  left:1090px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u4490_img.mouseOver {
}
#u4490.mouseOver {
}
#u4490_img.mouseDown {
}
#u4490.mouseDown {
}
#u4491 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u4492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u4492 {
  position:absolute;
  left:760px;
  top:0px;
  width:110px;
  height:40px;
}
#u4492_img.mouseOver {
}
#u4492.mouseOver {
}
#u4492_img.mouseDown {
}
#u4492.mouseDown {
}
#u4493 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u4494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u4494 {
  position:absolute;
  left:980px;
  top:0px;
  width:110px;
  height:40px;
}
#u4494_img.mouseOver {
}
#u4494.mouseOver {
}
#u4494_img.mouseDown {
}
#u4494.mouseDown {
}
#u4495 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u4496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u4496 {
  position:absolute;
  left:870px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u4496_img.mouseOver {
}
#u4496.mouseOver {
}
#u4496_img.mouseDown {
}
#u4496.mouseDown {
}
#u4497 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u4498 {
  position:fixed;
  right:10px;
  top:0px;
  visibility:hidden;
}
#u4498_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4498_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u4499 {
  position:absolute;
  left:0px;
  top:90px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4499_img.mouseOver {
}
#u4499.mouseOver {
}
#u4500 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u4501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u4501 {
  position:absolute;
  left:0px;
  top:180px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4501_img.mouseOver {
}
#u4501.mouseOver {
}
#u4502 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u4503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u4503 {
  position:absolute;
  left:0px;
  top:270px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4503_img.mouseOver {
}
#u4503.mouseOver {
}
#u4504 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u4505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u4505 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u4505_img.mouseOver {
}
#u4505.mouseOver {
}
#u4506 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
