body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:73px;
}
#u1638 {
  position:absolute;
  left:0px;
  top:60px;
  width:165px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1639 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u1644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u1644 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1645 {
  position:absolute;
  left:20px;
  top:8px;
  width:1178px;
  word-wrap:break-word;
}
#u1646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u1646 {
  position:absolute;
  left:1090px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1646_img.mouseOver {
}
#u1646.mouseOver {
}
#u1646_img.mouseDown {
}
#u1646.mouseDown {
}
#u1647 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u1648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u1648 {
  position:absolute;
  left:760px;
  top:0px;
  width:110px;
  height:40px;
}
#u1648_img.mouseOver {
}
#u1648.mouseOver {
}
#u1648_img.mouseDown {
}
#u1648.mouseDown {
}
#u1649 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u1650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u1650 {
  position:absolute;
  left:980px;
  top:0px;
  width:110px;
  height:40px;
}
#u1650_img.mouseOver {
}
#u1650.mouseOver {
}
#u1650_img.mouseDown {
}
#u1650.mouseDown {
}
#u1651 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u1652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u1652 {
  position:absolute;
  left:870px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1652_img.mouseOver {
}
#u1652.mouseOver {
}
#u1652_img.mouseDown {
}
#u1652.mouseDown {
}
#u1653 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u1654 {
  position:fixed;
  right:10px;
  top:0px;
  visibility:hidden;
}
#u1654_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1654_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1655 {
  position:absolute;
  left:0px;
  top:90px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1655_img.mouseOver {
}
#u1655.mouseOver {
}
#u1656 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u1657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1657 {
  position:absolute;
  left:0px;
  top:180px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1657_img.mouseOver {
}
#u1657.mouseOver {
}
#u1658 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u1659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1659 {
  position:absolute;
  left:0px;
  top:270px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1659_img.mouseOver {
}
#u1659.mouseOver {
}
#u1660 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1661 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1661_img.mouseOver {
}
#u1661.mouseOver {
}
#u1662 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
