body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1034 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:60px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1036 {
  position:absolute;
  left:300px;
  top:360px;
  width:100px;
  height:60px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1038 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1039 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1040 {
  position:absolute;
  left:300px;
  top:210px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1041 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1042 {
  position:absolute;
  left:600px;
  top:360px;
  width:100px;
  height:60px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1044 {
  position:absolute;
  left:900px;
  top:360px;
  width:100px;
  height:60px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1046 {
  position:absolute;
  left:100px;
  top:90px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1046_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:204px;
  height:8px;
}
#u1046_seg1 {
  position:absolute;
  left:187px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1047 {
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1048 {
  position:absolute;
  left:100px;
  top:90px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1048_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u1048_seg1 {
  position:absolute;
  left:56px;
  top:-4px;
  width:8px;
  height:158px;
}
#u1048_seg2 {
  position:absolute;
  left:56px;
  top:146px;
  width:144px;
  height:8px;
}
#u1048_seg3 {
  position:absolute;
  left:187px;
  top:140px;
  width:20px;
  height:20px;
}
#u1049 {
  position:absolute;
  left:10px;
  top:106px;
  width:100px;
  word-wrap:break-word;
}
#u1050 {
  position:absolute;
  left:100px;
  top:90px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1050_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u1050_seg1 {
  position:absolute;
  left:16px;
  top:-4px;
  width:8px;
  height:308px;
}
#u1050_seg2 {
  position:absolute;
  left:16px;
  top:296px;
  width:184px;
  height:8px;
}
#u1050_seg3 {
  position:absolute;
  left:187px;
  top:290px;
  width:20px;
  height:20px;
}
#u1051 {
  position:absolute;
  left:-30px;
  top:222px;
  width:100px;
  word-wrap:break-word;
}
#u1052 {
  position:absolute;
  left:400px;
  top:390px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1052_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:204px;
  height:8px;
}
#u1052_seg1 {
  position:absolute;
  left:187px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1053 {
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1054 {
  position:absolute;
  left:400px;
  top:240px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1054_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u1054_seg1 {
  position:absolute;
  left:146px;
  top:-4px;
  width:8px;
  height:158px;
}
#u1054_seg2 {
  position:absolute;
  left:146px;
  top:146px;
  width:54px;
  height:8px;
}
#u1054_seg3 {
  position:absolute;
  left:187px;
  top:140px;
  width:20px;
  height:20px;
}
#u1055 {
  position:absolute;
  left:100px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u1056 {
  position:absolute;
  left:400px;
  top:90px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1056_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:194px;
  height:8px;
}
#u1056_seg1 {
  position:absolute;
  left:186px;
  top:-4px;
  width:8px;
  height:308px;
}
#u1056_seg2 {
  position:absolute;
  left:186px;
  top:296px;
  width:14px;
  height:8px;
}
#u1056_seg3 {
  position:absolute;
  left:187px;
  top:290px;
  width:20px;
  height:20px;
}
#u1057 {
  position:absolute;
  left:140px;
  top:52px;
  width:100px;
  word-wrap:break-word;
}
#u1058 {
  position:absolute;
  left:700px;
  top:390px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1058_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:204px;
  height:8px;
}
#u1058_seg1 {
  position:absolute;
  left:187px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1059 {
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:57px;
}
#u1060 {
  position:absolute;
  left:1010px;
  top:60px;
  width:190px;
  height:56px;
}
#u1061 {
  position:absolute;
  left:10px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1065 {
  position:absolute;
  left:20px;
  top:8px;
  width:1178px;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u1066 {
  position:absolute;
  left:1090px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1066_img.mouseOver {
}
#u1066.mouseOver {
}
#u1066_img.mouseDown {
}
#u1066.mouseDown {
}
#u1067 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u1068 {
  position:absolute;
  left:760px;
  top:0px;
  width:110px;
  height:40px;
}
#u1068_img.mouseOver {
}
#u1068.mouseOver {
}
#u1068_img.mouseDown {
}
#u1068.mouseDown {
}
#u1069 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u1070 {
  position:absolute;
  left:980px;
  top:0px;
  width:110px;
  height:40px;
}
#u1070_img.mouseOver {
}
#u1070.mouseOver {
}
#u1070_img.mouseDown {
}
#u1070.mouseDown {
}
#u1071 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u1072 {
  position:absolute;
  left:870px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1072_img.mouseOver {
}
#u1072.mouseOver {
}
#u1072_img.mouseDown {
}
#u1072.mouseDown {
}
#u1073 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u1074 {
  position:fixed;
  right:10px;
  top:0px;
  visibility:hidden;
}
#u1074_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1074_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1075 {
  position:absolute;
  left:0px;
  top:90px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1075_img.mouseOver {
}
#u1075.mouseOver {
}
#u1076 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1077 {
  position:absolute;
  left:0px;
  top:180px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1077_img.mouseOver {
}
#u1077.mouseOver {
}
#u1078 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1079 {
  position:absolute;
  left:0px;
  top:270px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1079_img.mouseOver {
}
#u1079.mouseOver {
}
#u1080 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1081_img.mouseOver {
}
#u1081.mouseOver {
}
#u1082 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
