body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:91px;
}
#u1663 {
  position:absolute;
  left:0px;
  top:60px;
  width:196px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1664 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u1670 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u1671 {
  position:absolute;
  left:20px;
  top:8px;
  width:1178px;
  word-wrap:break-word;
}
#u1672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u1672 {
  position:absolute;
  left:1090px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1672_img.mouseOver {
}
#u1672.mouseOver {
}
#u1672_img.mouseDown {
}
#u1672.mouseDown {
}
#u1673 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u1674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u1674 {
  position:absolute;
  left:760px;
  top:0px;
  width:110px;
  height:40px;
}
#u1674_img.mouseOver {
}
#u1674.mouseOver {
}
#u1674_img.mouseDown {
}
#u1674.mouseDown {
}
#u1675 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u1676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u1676 {
  position:absolute;
  left:980px;
  top:0px;
  width:110px;
  height:40px;
}
#u1676_img.mouseOver {
}
#u1676.mouseOver {
}
#u1676_img.mouseDown {
}
#u1676.mouseDown {
}
#u1677 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u1678 {
  position:absolute;
  left:870px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1678_img.mouseOver {
}
#u1678.mouseOver {
}
#u1678_img.mouseDown {
}
#u1678.mouseDown {
}
#u1679 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u1680 {
  position:fixed;
  right:10px;
  top:0px;
  visibility:hidden;
}
#u1680_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1680_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1681 {
  position:absolute;
  left:0px;
  top:90px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1681_img.mouseOver {
}
#u1681.mouseOver {
}
#u1682 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u1683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1683 {
  position:absolute;
  left:0px;
  top:180px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1683_img.mouseOver {
}
#u1683.mouseOver {
}
#u1684 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1685 {
  position:absolute;
  left:0px;
  top:270px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1685_img.mouseOver {
}
#u1685.mouseOver {
}
#u1686 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u1687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1687 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1687_img.mouseOver {
}
#u1687.mouseOver {
}
#u1688 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
