body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:363px;
}
#u0 {
  position:absolute;
  left:0px;
  top:200px;
  width:704px;
  height:362px;
  font-size:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  white-space:nowrap;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:93px;
}
#u2 {
  position:absolute;
  left:956px;
  top:200px;
  width:244px;
  height:92px;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:224px;
  white-space:nowrap;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u7 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:60px;
  font-size:16px;
}
#u8 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u7_ann {
  position:absolute;
  left:93px;
  top:56px;
  width:1px;
  height:1px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u9 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9_img.selected {
}
#u9.selected {
}
#u10 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u11 {
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u11_img.selected {
}
#u11.selected {
}
#u12 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u13 {
  position:absolute;
  left:600px;
  top:60px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13_img.selected {
}
#u13.selected {
}
#u14 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u15 {
  position:absolute;
  left:800px;
  top:60px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15_img.selected {
}
#u15.selected {
}
#u16 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u17 {
  position:absolute;
  left:1000px;
  top:60px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u17_img.selected {
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:100px;
  top:90px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#666666;
}
#u19_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u19_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:300px;
  top:90px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#666666;
}
#u21_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u21_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:500px;
  top:90px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#666666;
}
#u23_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u23_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:700px;
  top:90px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#666666;
}
#u25_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u25_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:900px;
  top:90px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#666666;
}
#u27_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u27_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u29 {
  position:absolute;
  left:200px;
  top:120px;
  width:139px;
  height:34px;
  font-size:12px;
  color:#666666;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u31 {
  position:absolute;
  left:400px;
  top:120px;
  width:170px;
  height:34px;
  font-size:12px;
  color:#666666;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:35px;
}
#u33 {
  position:absolute;
  left:600px;
  top:120px;
  width:182px;
  height:34px;
  font-size:12px;
  color:#666666;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:35px;
}
#u35 {
  position:absolute;
  left:800px;
  top:120px;
  width:103px;
  height:34px;
  font-size:12px;
  color:#666666;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:35px;
}
#u37 {
  position:absolute;
  left:1000px;
  top:120px;
  width:142px;
  height:34px;
  font-size:12px;
  color:#666666;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u39 {
  position:absolute;
  left:0px;
  top:120px;
  width:158px;
  height:34px;
  font-size:12px;
  color:#666666;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u43 {
  position:absolute;
  left:20px;
  top:8px;
  width:1178px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u44 {
  position:absolute;
  left:1090px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u44_img.mouseOver {
}
#u44.mouseOver {
}
#u44_img.mouseDown {
}
#u44.mouseDown {
}
#u45 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u46 {
  position:absolute;
  left:760px;
  top:0px;
  width:110px;
  height:40px;
}
#u46_img.mouseOver {
}
#u46.mouseOver {
}
#u46_img.mouseDown {
}
#u46.mouseDown {
}
#u47 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u48 {
  position:absolute;
  left:980px;
  top:0px;
  width:110px;
  height:40px;
}
#u48_img.mouseOver {
}
#u48.mouseOver {
}
#u48_img.mouseDown {
}
#u48.mouseDown {
}
#u49 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u50 {
  position:absolute;
  left:870px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u50_img.mouseDown {
}
#u50.mouseDown {
}
#u51 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u52 {
  position:fixed;
  right:10px;
  top:0px;
  visibility:hidden;
}
#u52_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u52_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u53 {
  position:absolute;
  left:0px;
  top:90px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u55 {
  position:absolute;
  left:0px;
  top:180px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u57 {
  position:absolute;
  left:0px;
  top:270px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
