body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:493px;
}
#u7889 {
  position:absolute;
  left:0px;
  top:60px;
  width:469px;
  height:492px;
}
#u7890 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  white-space:nowrap;
}
#u7892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u7892 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u7893 {
  position:absolute;
  left:20px;
  top:8px;
  width:1178px;
  word-wrap:break-word;
}
#u7894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u7894 {
  position:absolute;
  left:1090px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u7894_img.mouseOver {
}
#u7894.mouseOver {
}
#u7894_img.mouseDown {
}
#u7894.mouseDown {
}
#u7895 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u7896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u7896 {
  position:absolute;
  left:760px;
  top:0px;
  width:110px;
  height:40px;
}
#u7896_img.mouseOver {
}
#u7896.mouseOver {
}
#u7896_img.mouseDown {
}
#u7896.mouseDown {
}
#u7897 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u7898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u7898 {
  position:absolute;
  left:980px;
  top:0px;
  width:110px;
  height:40px;
}
#u7898_img.mouseOver {
}
#u7898.mouseOver {
}
#u7898_img.mouseDown {
}
#u7898.mouseDown {
}
#u7899 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u7900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u7900 {
  position:absolute;
  left:870px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u7900_img.mouseOver {
}
#u7900.mouseOver {
}
#u7900_img.mouseDown {
}
#u7900.mouseDown {
}
#u7901 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u7902 {
  position:fixed;
  right:10px;
  top:0px;
  visibility:hidden;
}
#u7902_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7902_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7903 {
  position:absolute;
  left:0px;
  top:90px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u7903_img.mouseOver {
}
#u7903.mouseOver {
}
#u7904 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u7905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7905 {
  position:absolute;
  left:0px;
  top:180px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u7905_img.mouseOver {
}
#u7905.mouseOver {
}
#u7906 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u7907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7907 {
  position:absolute;
  left:0px;
  top:270px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u7907_img.mouseOver {
}
#u7907.mouseOver {
}
#u7908 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u7909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7909 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u7909_img.mouseOver {
}
#u7909.mouseOver {
}
#u7910 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
